:root{
    --primary: #800000;
    --secondary: #400000;
    --tertiary: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(43% 66%, var(--primary), var(--secondary));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#app{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
